body {
    color: #707070;
    margin: 100px;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 35px;
}

.black-color {
    color: black;
}

.intro {
    display: flex;

}

.speciality {
    display: flex;
}

.single-speciality {
    width: 28.33%;
    margin-left: 5%;
    border: 5px solid rgb(240, 232, 232);
    padding: 20px;
    border-radius: 20px;
    background-color: antiquewhite;
}

footer {
    margin: 100px 0;
}

footer p {
    font-size: 20px;
}